<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ml.diamond.mapper.RoomsMapper" >
  <resultMap id="BaseResultMap" type="com.ml.diamond.entity.Rooms" >
    <id column="Room_ID" property="roomId" jdbcType="VARCHAR" />
    <result column="Room_Name" property="roomName" jdbcType="VARCHAR" />
    <result column="Project_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="Project_Name" property="projectName" jdbcType="VARCHAR" />
    <result column="Building_ID" property="buildingId" jdbcType="VARCHAR" />
    <result column="Building_Name" property="buildingName" jdbcType="VARCHAR" />
    <result column="RoomUsage_new" property="roomusageNew" jdbcType="VARCHAR" />
    <result column="Room_Usage11" property="roomUsage11" jdbcType="VARCHAR" />
    <result column="Room_TypeUrl" property="roomTypeurl" jdbcType="VARCHAR" />
    <result column="Room_BuildArea" property="roomBuildarea" jdbcType="NUMERIC" />
    <result column="Room_Status" property="roomStatus" jdbcType="VARCHAR" />
    <result column="InsertDate" property="insertdate" jdbcType="TIMESTAMP" />
    <result column="Room_RefPrice" property="roomRefprice" jdbcType="VARCHAR" />
    <result column="Room_Location" property="roomLocation" jdbcType="VARCHAR" />
    <result column="Room_ShareArea" property="roomSharearea" jdbcType="NUMERIC" />
    <result column="Room_InsideArea" property="roomInsidearea" jdbcType="NUMERIC" />
    <result column="Room_Url" property="roomUrl" jdbcType="VARCHAR" />
    <result column="Room_HX" property="roomHx" jdbcType="VARCHAR" />
    <result column="Room_UsageUrl" property="roomUsageurl" jdbcType="VARCHAR" />
    <result column="Room_ReferPrice" property="roomReferprice" jdbcType="NUMERIC" />
    <result column="Generalize_Name" property="generalizeName" jdbcType="VARCHAR" />
    <result column="trans_avgprice" property="transAvgprice" jdbcType="NUMERIC" />
    <result column="trans_totalprice" property="transTotalprice" jdbcType="NUMERIC" />
    <result column="trans_date" property="transDate" jdbcType="TIMESTAMP" />
    <result column="Trans_type" property="transType" jdbcType="VARCHAR" />
    <result column="Trans_FromTo" property="transFromto" jdbcType="VARCHAR" />
    <result column="room_floor" property="roomFloor" jdbcType="INTEGER" />
    <result column="Room_statusColor" property="roomStatuscolor" jdbcType="VARCHAR" />
    <result column="Room_idT" property="roomIdt" jdbcType="VARCHAR" />
    <result column="Room_usage" property="roomUsage" jdbcType="VARCHAR" />
    <result column="Room_Type" property="roomType" jdbcType="VARCHAR" />
    <result column="Room_RelocationD" property="roomRelocationd" jdbcType="VARCHAR" />
    <result column="Room_ReLocation" property="roomRelocation" jdbcType="VARCHAR" />
    <result column="UpdateDate" property="updatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Room_ID, Room_Name, Project_ID, Project_Name, Building_ID, Building_Name,
    RoomUsage_new, Room_Usage11, Room_TypeUrl, Room_BuildArea, Room_Status, InsertDate, 
    Room_RefPrice, Room_Location, Room_ShareArea, Room_InsideArea, Room_Url, Room_HX, 
    Room_UsageUrl, Room_ReferPrice, Generalize_Name, trans_avgprice, trans_totalprice, 
    trans_date, Trans_type, Trans_FromTo, room_floor, Room_statusColor, Room_idT, Room_usage, 
    Room_Type, Room_RelocationD, Room_ReLocation, UpdateDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Rooms
    where Room_ID = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Rooms
    where Room_ID = #{roomId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ml.diamond.entity.Rooms" >
    insert into Rooms (Room_ID, Room_Name, Project_ID, 
      Project_Name, District, Building_ID, 
      Building_Name, RoomUsage_new, Room_Usage11, 
      Room_TypeUrl, Room_BuildArea, Room_Status, 
      InsertDate, Room_RefPrice, Room_Location, 
      Room_ShareArea, Room_InsideArea, Room_Url, 
      Room_HX, Room_UsageUrl, Room_ReferPrice, 
      Generalize_Name, trans_avgprice, trans_totalprice, 
      trans_date, Trans_type, Trans_FromTo, 
      room_floor, Room_statusColor, Room_idT, 
      Room_usage, Room_Type, Room_RelocationD, 
      Room_ReLocation, UpdateDate)
    values (#{roomId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{buildingId,jdbcType=VARCHAR}, 
      #{buildingName,jdbcType=VARCHAR}, #{roomusageNew,jdbcType=VARCHAR}, #{roomUsage11,jdbcType=VARCHAR}, 
      #{roomTypeurl,jdbcType=VARCHAR}, #{roomBuildarea,jdbcType=NUMERIC}, #{roomStatus,jdbcType=VARCHAR}, 
      #{insertdate,jdbcType=TIMESTAMP}, #{roomRefprice,jdbcType=VARCHAR}, #{roomLocation,jdbcType=VARCHAR}, 
      #{roomSharearea,jdbcType=NUMERIC}, #{roomInsidearea,jdbcType=NUMERIC}, #{roomUrl,jdbcType=VARCHAR}, 
      #{roomHx,jdbcType=VARCHAR}, #{roomUsageurl,jdbcType=VARCHAR}, #{roomReferprice,jdbcType=NUMERIC}, 
      #{generalizeName,jdbcType=VARCHAR}, #{transAvgprice,jdbcType=NUMERIC}, #{transTotalprice,jdbcType=NUMERIC}, 
      #{transDate,jdbcType=TIMESTAMP}, #{transType,jdbcType=VARCHAR}, #{transFromto,jdbcType=VARCHAR}, 
      #{roomFloor,jdbcType=INTEGER}, #{roomStatuscolor,jdbcType=VARCHAR}, #{roomIdt,jdbcType=VARCHAR}, 
      #{roomUsage,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR}, #{roomRelocationd,jdbcType=VARCHAR}, 
      #{roomRelocation,jdbcType=VARCHAR}, #{updatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ml.diamond.entity.Rooms" >
    insert into Rooms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        Room_ID,
      </if>
      <if test="roomName != null" >
        Room_Name,
      </if>
      <if test="projectId != null" >
        Project_ID,
      </if>
      <if test="projectName != null" >
        Project_Name,
      </if>
      <if test="district != null" >
        District,
      </if>
      <if test="buildingId != null" >
        Building_ID,
      </if>
      <if test="buildingName != null" >
        Building_Name,
      </if>
      <if test="roomusageNew != null" >
        RoomUsage_new,
      </if>
      <if test="roomUsage11 != null" >
        Room_Usage11,
      </if>
      <if test="roomTypeurl != null" >
        Room_TypeUrl,
      </if>
      <if test="roomBuildarea != null" >
        Room_BuildArea,
      </if>
      <if test="roomStatus != null" >
        Room_Status,
      </if>
      <if test="insertdate != null" >
        InsertDate,
      </if>
      <if test="roomRefprice != null" >
        Room_RefPrice,
      </if>
      <if test="roomLocation != null" >
        Room_Location,
      </if>
      <if test="roomSharearea != null" >
        Room_ShareArea,
      </if>
      <if test="roomInsidearea != null" >
        Room_InsideArea,
      </if>
      <if test="roomUrl != null" >
        Room_Url,
      </if>
      <if test="roomHx != null" >
        Room_HX,
      </if>
      <if test="roomUsageurl != null" >
        Room_UsageUrl,
      </if>
      <if test="roomReferprice != null" >
        Room_ReferPrice,
      </if>
      <if test="generalizeName != null" >
        Generalize_Name,
      </if>
      <if test="transAvgprice != null" >
        trans_avgprice,
      </if>
      <if test="transTotalprice != null" >
        trans_totalprice,
      </if>
      <if test="transDate != null" >
        trans_date,
      </if>
      <if test="transType != null" >
        Trans_type,
      </if>
      <if test="transFromto != null" >
        Trans_FromTo,
      </if>
      <if test="roomFloor != null" >
        room_floor,
      </if>
      <if test="roomStatuscolor != null" >
        Room_statusColor,
      </if>
      <if test="roomIdt != null" >
        Room_idT,
      </if>
      <if test="roomUsage != null" >
        Room_usage,
      </if>
      <if test="roomType != null" >
        Room_Type,
      </if>
      <if test="roomRelocationd != null" >
        Room_RelocationD,
      </if>
      <if test="roomRelocation != null" >
        Room_ReLocation,
      </if>
      <if test="updatedate != null" >
        UpdateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="roomusageNew != null" >
        #{roomusageNew,jdbcType=VARCHAR},
      </if>
      <if test="roomUsage11 != null" >
        #{roomUsage11,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeurl != null" >
        #{roomTypeurl,jdbcType=VARCHAR},
      </if>
      <if test="roomBuildarea != null" >
        #{roomBuildarea,jdbcType=NUMERIC},
      </if>
      <if test="roomStatus != null" >
        #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="insertdate != null" >
        #{insertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="roomRefprice != null" >
        #{roomRefprice,jdbcType=VARCHAR},
      </if>
      <if test="roomLocation != null" >
        #{roomLocation,jdbcType=VARCHAR},
      </if>
      <if test="roomSharearea != null" >
        #{roomSharearea,jdbcType=NUMERIC},
      </if>
      <if test="roomInsidearea != null" >
        #{roomInsidearea,jdbcType=NUMERIC},
      </if>
      <if test="roomUrl != null" >
        #{roomUrl,jdbcType=VARCHAR},
      </if>
      <if test="roomHx != null" >
        #{roomHx,jdbcType=VARCHAR},
      </if>
      <if test="roomUsageurl != null" >
        #{roomUsageurl,jdbcType=VARCHAR},
      </if>
      <if test="roomReferprice != null" >
        #{roomReferprice,jdbcType=NUMERIC},
      </if>
      <if test="generalizeName != null" >
        #{generalizeName,jdbcType=VARCHAR},
      </if>
      <if test="transAvgprice != null" >
        #{transAvgprice,jdbcType=NUMERIC},
      </if>
      <if test="transTotalprice != null" >
        #{transTotalprice,jdbcType=NUMERIC},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transFromto != null" >
        #{transFromto,jdbcType=VARCHAR},
      </if>
      <if test="roomFloor != null" >
        #{roomFloor,jdbcType=INTEGER},
      </if>
      <if test="roomStatuscolor != null" >
        #{roomStatuscolor,jdbcType=VARCHAR},
      </if>
      <if test="roomIdt != null" >
        #{roomIdt,jdbcType=VARCHAR},
      </if>
      <if test="roomUsage != null" >
        #{roomUsage,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomRelocationd != null" >
        #{roomRelocationd,jdbcType=VARCHAR},
      </if>
      <if test="roomRelocation != null" >
        #{roomRelocation,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ml.diamond.entity.Rooms" >
    update Rooms
    <set >
      <if test="roomName != null" >
        Room_Name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        Project_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        Project_Name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        District = #{district,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        Building_ID = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        Building_Name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="roomusageNew != null" >
        RoomUsage_new = #{roomusageNew,jdbcType=VARCHAR},
      </if>
      <if test="roomUsage11 != null" >
        Room_Usage11 = #{roomUsage11,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeurl != null" >
        Room_TypeUrl = #{roomTypeurl,jdbcType=VARCHAR},
      </if>
      <if test="roomBuildarea != null" >
        Room_BuildArea = #{roomBuildarea,jdbcType=NUMERIC},
      </if>
      <if test="roomStatus != null" >
        Room_Status = #{roomStatus,jdbcType=VARCHAR},
      </if>
      <if test="insertdate != null" >
        InsertDate = #{insertdate,jdbcType=TIMESTAMP},
      </if>
      <if test="roomRefprice != null" >
        Room_RefPrice = #{roomRefprice,jdbcType=VARCHAR},
      </if>
      <if test="roomLocation != null" >
        Room_Location = #{roomLocation,jdbcType=VARCHAR},
      </if>
      <if test="roomSharearea != null" >
        Room_ShareArea = #{roomSharearea,jdbcType=NUMERIC},
      </if>
      <if test="roomInsidearea != null" >
        Room_InsideArea = #{roomInsidearea,jdbcType=NUMERIC},
      </if>
      <if test="roomUrl != null" >
        Room_Url = #{roomUrl,jdbcType=VARCHAR},
      </if>
      <if test="roomHx != null" >
        Room_HX = #{roomHx,jdbcType=VARCHAR},
      </if>
      <if test="roomUsageurl != null" >
        Room_UsageUrl = #{roomUsageurl,jdbcType=VARCHAR},
      </if>
      <if test="roomReferprice != null" >
        Room_ReferPrice = #{roomReferprice,jdbcType=NUMERIC},
      </if>
      <if test="generalizeName != null" >
        Generalize_Name = #{generalizeName,jdbcType=VARCHAR},
      </if>
      <if test="transAvgprice != null" >
        trans_avgprice = #{transAvgprice,jdbcType=NUMERIC},
      </if>
      <if test="transTotalprice != null" >
        trans_totalprice = #{transTotalprice,jdbcType=NUMERIC},
      </if>
      <if test="transDate != null" >
        trans_date = #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        Trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transFromto != null" >
        Trans_FromTo = #{transFromto,jdbcType=VARCHAR},
      </if>
      <if test="roomFloor != null" >
        room_floor = #{roomFloor,jdbcType=INTEGER},
      </if>
      <if test="roomStatuscolor != null" >
        Room_statusColor = #{roomStatuscolor,jdbcType=VARCHAR},
      </if>
      <if test="roomIdt != null" >
        Room_idT = #{roomIdt,jdbcType=VARCHAR},
      </if>
      <if test="roomUsage != null" >
        Room_usage = #{roomUsage,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        Room_Type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomRelocationd != null" >
        Room_RelocationD = #{roomRelocationd,jdbcType=VARCHAR},
      </if>
      <if test="roomRelocation != null" >
        Room_ReLocation = #{roomRelocation,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UpdateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Room_ID = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ml.diamond.entity.Rooms" >
    update Rooms
    set Room_Name = #{roomName,jdbcType=VARCHAR},
      Project_ID = #{projectId,jdbcType=VARCHAR},
      Project_Name = #{projectName,jdbcType=VARCHAR},
      District = #{district,jdbcType=VARCHAR},
      Building_ID = #{buildingId,jdbcType=VARCHAR},
      Building_Name = #{buildingName,jdbcType=VARCHAR},
      RoomUsage_new = #{roomusageNew,jdbcType=VARCHAR},
      Room_Usage11 = #{roomUsage11,jdbcType=VARCHAR},
      Room_TypeUrl = #{roomTypeurl,jdbcType=VARCHAR},
      Room_BuildArea = #{roomBuildarea,jdbcType=NUMERIC},
      Room_Status = #{roomStatus,jdbcType=VARCHAR},
      InsertDate = #{insertdate,jdbcType=TIMESTAMP},
      Room_RefPrice = #{roomRefprice,jdbcType=VARCHAR},
      Room_Location = #{roomLocation,jdbcType=VARCHAR},
      Room_ShareArea = #{roomSharearea,jdbcType=NUMERIC},
      Room_InsideArea = #{roomInsidearea,jdbcType=NUMERIC},
      Room_Url = #{roomUrl,jdbcType=VARCHAR},
      Room_HX = #{roomHx,jdbcType=VARCHAR},
      Room_UsageUrl = #{roomUsageurl,jdbcType=VARCHAR},
      Room_ReferPrice = #{roomReferprice,jdbcType=NUMERIC},
      Generalize_Name = #{generalizeName,jdbcType=VARCHAR},
      trans_avgprice = #{transAvgprice,jdbcType=NUMERIC},
      trans_totalprice = #{transTotalprice,jdbcType=NUMERIC},
      trans_date = #{transDate,jdbcType=TIMESTAMP},
      Trans_type = #{transType,jdbcType=VARCHAR},
      Trans_FromTo = #{transFromto,jdbcType=VARCHAR},
      room_floor = #{roomFloor,jdbcType=INTEGER},
      Room_statusColor = #{roomStatuscolor,jdbcType=VARCHAR},
      Room_idT = #{roomIdt,jdbcType=VARCHAR},
      Room_usage = #{roomUsage,jdbcType=VARCHAR},
      Room_Type = #{roomType,jdbcType=VARCHAR},
      Room_RelocationD = #{roomRelocationd,jdbcType=VARCHAR},
      Room_ReLocation = #{roomRelocation,jdbcType=VARCHAR},
      UpdateDate = #{updatedate,jdbcType=TIMESTAMP}
    where Room_ID = #{roomId,jdbcType=VARCHAR}
  </update>

  <select id="getCount" resultType="java.lang.Integer" parameterType="com.ml.diamond.entity.Rooms" >
    select count(1) from Rooms
  </select>

  <select id="getPage" resultType="com.ml.diamond.entity.Rooms" parameterType="com.ml.diamond.entity.Rooms" >
    SELECT
    <include refid="Base_Column_List" />
    FROM
    Rooms a,
    (SELECT TOP ${limit} row_number () OVER (ORDER BY Room_ID DESC) n, Room_ID AS 'RoomID' FROM Rooms) b
    WHERE
    a.Room_ID = b.RoomID
    AND b.n > ${offset}
    ORDER BY b.n ASC
  </select>

</mapper>